/* Typography - needs !important to override Vuetify defaults */
html {
  font-size: 15px;
}

*,
.text-body-1,
.text-h6,
.text-h5 {
  font-family: Montserrat, Helvetica, Arial, sans-serif !important;
}

body,
h1,
h2,
h3,
p,
div {
  color: #323232 !important;
}

h1 {
  display: block;
  font-size: 2em;
  font-weight: bold;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
}

/* Links - anchor color now defined in theme */
a {
  text-decoration: none;
}

a:hover {
  opacity: 0.8;
}

/* Layout */
.page-wrapper {
  height: 100% !important;
}

/* Component overrides */
.v-card.default .v-data-table {
  border: 1px #e0d5bb solid;
}

.v-card.default .v-card__title {
  font-size: 1rem;
  line-height: 1.4rem;
}

.v-card-title {
  font-size: 1.1rem;
  line-height: 1.4rem;
}

ul.v-breadcrumbs {
  padding-left: 0;
}

.v-btn.v-size--small {
  font-size: 14px;
}

.v-data-table.row-clickable > .v-data-table__wrapper > table > tbody > tr:hover > td {
  cursor: pointer;
}

.v-toolbar.bg-primary .v-toolbar-title__placeholder {
  color: white !important;
}

.v-breadcrumbs-item--disabled {
  color: #323232 !important;
  opacity: 80% !important;
}

/* Utility table class */
table.table {
  width: 100%;
  text-align: left;
  margin-top: 10px;
  font-size: 1.05em;
}
