body,
h1,
h2,
h3,
p,
div {
  color: #323232 !important;
}
html{
  font-size: 15px;
}
*,.text-body-1, .text-h6, .text-h5 {
  font-family: Montserrat, Helvetica, Arial, sans-serif !important;
}

a {
  text-decoration: none;
}

.page-wrapper {
  background-color: #eee;
  height: 100% !important;
}
/* 
.v-card.default {
    background-color: #fff2d5;
} */

.v-card.default .v-data-table {
  border: 1px #e0d5bb solid;
}

.v-card.default .v-card__title {
  font-size: 1rem;
  line-height: 1.4rem;
}

ul.v-breadcrumbs {
  padding-left: 0;
}

.text-error {
  color: #9b1b27 !important;
}

.v-btn.v-size--small {
  font-size: 14px;
}

.v-data-table.row-clickable > .v-data-table__wrapper > table > tbody > tr:hover > td {
  cursor: pointer;
}
